html,body {
    margin: 0;
}
.navbar{
    position: absolute;
    background-color: rgb(29, 29, 29);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imagelogo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo{
    margin-left: 20px;
    border-radius: 50px;
}
h1{
    color: white;
}
.navbar-pos{
   display: flex;
   align-items: center;
   gap: 60px;
   margin-right: 50px;
}
li{ 
    list-style: none;
}
.navbar-pos li a {
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.sidebar{
    top: 40px;
    position: absolute;
    background-color: rgb(29, 29, 29);
    height: 100%;
    width: 190px;
    display: inline;
    justify-content: space-between;
}
