html, body {
  margin: 0;
  overflow: hidden;    
}
.navbar{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imagelogo{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.logo{
    margin-left: 20px;
    border-radius: 50px;
}
h1{
    color: white;
}
.navbar-pos{
   display: flex;
   align-items: center;
   gap: 60px;
   margin-right: 50px;
}
li{
    list-style: none;
}
.navbar-pos li a {
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.bg-image{
    background-image: url(images/RollerCoaster.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.bg-image div p {
    margin: 0;
    padding: 0;
}
.signup{
    position: absolute;
    background-color: rgb(255, 255, 255);  /*orig rgb 33,32,39*/
    width: 450px;
    height: 500px;
    bottom: 150px;
    left: 660px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.signup-text{
    position: absolute;
    color: black; /*orig bg white*/
    font-size: large;
    left: 70px;
    top: 10px
}
.signup-form{
    position: absolute;
    left: 40px;
    top: 80px;
}
.signup-gender{
    display: flex;
}
.gender-box{
    display: flex;
    border-style: solid;
    border-radius: 15px;
    justify-content: center;
    width: 150px;
}
.signup-warning{
    font-size: small;
    text-align: left;
    margin-right: 30px;
}
.signup-box{
    height: 30px;
    width: 360px;
}
.signup-boxes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#submit{
    width: 370px;
    height: 35px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
