html, body {
  margin: 0;
  padding: 0;
}
.middlebg{
    position: relative;
    width: 100vw;
    height: 850px;
    background-color: rgb(250, 250, 250);
}
.profileimg{
    position: absolute;
    width: 850px;
    height: 850px;
    left: 10px;
}
.middletext{
    position: absolute;
    color: rgb(255, 255, 255);   
    top: 150px;
    left: 1200px;
    font-size: 50px;
}
.seperator{
    width:  50vw;
    float: right;
    height: 850px;
    background-color: rgb(17, 17, 17);
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(41, 41, 41);
  padding-left: 15px;
  padding-right: 15px;
}
.navdiv{
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
li{
    list-style: none;
    display: inline-block;
}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
.navbar a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 30px;
}
